* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
    
html {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
  }

  h1 {
    padding: 4vh;
    text-align: center;
  }

  .mainDiv {
    margin: 0 auto;
    font-family: arial;
    font-size: 24px;
    /* margin: 25px; */
    width: 50vw;
    height: 20vh;
    outline: dashed 1px rgb(151, 96, 96);

  }
  /* main body */

  body {
    height: 100vh;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    overflow: hidden;
    background-color: #d1dadd;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
  }

  input {
    border: 1px solid #eeeff0;
    padding: 8px;
    width: 20vw;
    }
    
    button {
    cursor: pointer; 
    border: 1px solid #888888;
    background: #a9bdcc;
    color: white;
    padding: 8px;
    }