<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Similar Movie Recommendations</title>
    <link rel="icon" href="/img/heheBlockbuster.png">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <h1>Movie Recommendations</h1>
    <div class="mainDiv">
        <form id="movieForm">
            <label for="userInput">Search Movie Title:</label>
            <input type="text" id="userInput" name="userInput">
            <button type="submit">Search</button>
        </form>

        <h4>Results:</h4>
        <div id="grid"></div>
    </div>

    <script src="app.js"></script>
</body>
</html>
